<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Study.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
      <add name="SqliteStudybase" connectionString="Data Source=.\SqliteStudyDB.db;Version=3;" providerName="System.Data.SqlClient"/>
      <add name="SQlStudybase" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Studybase;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
    </connectionStrings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Study.Properties.Settings>
            <setting name="FreeAccess" serializeAs="String">
                <value>True</value>
            </setting>
        </Study.Properties.Settings>
    </userSettings>

</configuration>